{:my.message/about [:string {:min 1}],
 :my.message/content [:string {:min 1}],
 :my.message/from :seon.cluster.agent/id,
 :my.message/at :inst,
 :my.message/id :seon.cluster.message/id,
 :my.message/preview [:string {:max 160}],
 :my.message/inbox-entry
             [:map
              [:my.message/id :my.message/id]
              [:my.message/from {:optional true} :my.message/from]
              [:my.message/at :my.message/at]
              [:my.message/preview :my.message/preview]],
 :my.message/inbox [:vector :my.message/inbox-entry],
 :my.message/inbox-options
             [:map
              [:seon.db/since :seon.db/basis-t]],
 :my.message/declination
             [:map
              [:my.message/to :my.message/to]
              [:my.message/about :my.message/about]
              [:my.message/reason :my.message/reason]],
 :my.message/message
             [:map
              [:my.message/to :my.message/to]
              [:my.message/content :my.message/content]
              [:my.message/about {:optional true} :my.message/about]],
 :my.message/reason [:string {:min 1}],
 :my.message/to [:string {:min 1}],
 :my.message/value
             [:or
              :my.message/message
              :my.message/declination
              [:vector
               {:min 1}
               [:or :my.message/message :my.message/declination]]],
 :my.message/no-recipient [:= true]
 :my.message/no-recipient-error [:map {:seon.error/class true :seon.render/ai seon.error/render-ai :seon.render/html seon.error/render-html :error/message "must mark a message request with no recipient"} [:my.message/no-recipient :my.message/no-recipient] [:seon.error/message :seon.error/message]]
 :my.message/no-content [:= true]
 :my.message/no-content-error [:map {:seon.error/class true :seon.render/ai seon.error/render-ai :seon.render/html seon.error/render-html :error/message "must mark a message request with no content"} [:my.message/no-content :my.message/no-content] [:seon.error/message :seon.error/message]]
 :my.message/no-about [:= true]
 :my.message/no-about-error [:map {:seon.error/class true :seon.render/ai seon.error/render-ai :seon.render/html seon.error/render-html :error/message "must mark a declination with no subject"} [:my.message/no-about :my.message/no-about] [:seon.error/message :seon.error/message]]
 :my.message/no-reason [:= true]
 :my.message/no-reason-error [:map {:seon.error/class true :seon.render/ai seon.error/render-ai :seon.render/html seon.error/render-html :error/message "must mark a declination with no reason"} [:my.message/no-reason :my.message/no-reason] [:seon.error/message :seon.error/message]]
 :my.message/not-found :seon.cluster.message/id
 :my.message/not-found-error [:map {:seon.error/class true :seon.render/ai seon.error/render-ai :seon.render/html seon.error/render-html :error/message "must identify the message that does not exist"} [:my.message/not-found :my.message/not-found] [:seon.error/message :seon.error/message]]}
