#:my.run{:completed
         [:map
          [:my.run/disposition [:= :completed]]
          [:my.run/result :my.run/result]],
         :disposition [:enum :wait :completed],
         :note [:string {:min 1}],
         :result [:string {:min 1}],
         :value [:or :my.run/wait :my.run/completed],
         :wait
         [:map
          [:my.run/disposition [:= :wait]]
          [:my.run/note :my.run/note]
          [:my.background/result
           {:optional true}
           :my.background/result]]}
