#:seon.store{:branch :keyword,
             :branch-connection
             [:fn
              #:gen{:gen seon.cluster.store/connection-generator}
              seon.cluster.store/connection?],
             :connection
             [:fn
              #:gen{:gen seon.cluster.store/connection-generator}
              seon.cluster.store/connection-object?],
             :dir [:string {:min 1}],
             :lock-file [:string {:min 1}],
             :store
             [:map
              [:seon.store/dir :seon.store/dir]
              [:seon.store/lock-file :seon.store/lock-file]
              [:seon.store/connection
               [:fn
                #:gen{:gen seon.cluster.store/connection-generator}
                seon.cluster.store/connection?]]
              [:seon.store/lock
               [:fn
                #:gen{:gen seon.cluster.store/file-lock-generator}
                seon.cluster.store/file-lock?]]
              [:seon.store/created? :boolean]],
             :transaction
             [:or
              :seon.store/transaction-data
              [:map
               [:tx-data :seon.store/transaction-data]
               [:tx-meta {:optional true} :map]]],
             :transaction-data
             [:vector :seon.store/transaction-operation],
             :transaction-operation
             [:or :map [:vector :seon.schema/value]]}
