#:seon.reconcile{:adopt-identities [:set [:vector :any]],
                 :converged? :boolean,
                 :desired [:vector [:map]],
                 :operations [:int {:min 0}],
                 :process [:string {:min 1}],
                 :request
                 [:map
                  [:seon.reconcile/desired :seon.reconcile/desired]
                  [:seon.reconcile/process :seon.reconcile/process]
                  [:seon.reconcile/adopt-identities
                   {:optional true}
                   :seon.reconcile/adopt-identities]],
                 :result
                 [:or
                  [:map
                   [:seon.reconcile/converged?
                    :seon.reconcile/converged?]
                   [:seon.reconcile/operations
                    :seon.reconcile/operations]]
                  :seon.error/value]}
