#:seon.config{:applied-manifest-digest [:re "^[0-9a-f]{64}$"],
              :apply-request
              [:map
               [:seon.config/connection :any]
               [:seon.config/manifest
                {:optional true}
                :seon.config/manifest]
               [:seon.config/environment
                {:optional true}
                :seon.config/manifest]
               [:seon.boot/cluster-name
                {:optional true}
                :seon.boot/cluster-name]],
              :cluster [:string {:min 1, :seon.db/identity true}],
              :compile-request
              [:map
               [:seon.config/manifest
                {:optional true}
                :seon.config/manifest]
               [:seon.config/environment
                {:optional true}
                :seon.config/manifest]
               [:seon.boot/cluster-name
                {:optional true}
                :seon.boot/cluster-name]],
              :compiled
              [:map
               [:seon.config/effective :seon.config/effective]
               [:seon.config/applied-manifest-digest
                :seon.config/applied-manifest-digest]
               [:seon.config/desired-row :seon.config/entity]
               [:seon.config/resolved-attributes
                [:set :qualified-keyword]]],
              :on-core-error
              [:enum #:seon.config{:dial true} :record :panic]}
