#:seon.config.run{:max-episode-runs
                  [:int
                   {:seon.config/display-label "Max episode runs" :min 1,
                    :seon.config/optional true,
                    :seon.config/per-agent true,
                    :seon.config/dial true}]}
