#:seon.def{:agent :seon.db/ref,
           :atom? :boolean,
           :blob :seon.blob/digest,
           :clear-request
           [:map
            [:seon.def/agent :seon.def/agent]],
           :def
           [:map
            #:seon.db{:attributes true}
            [:seon.def/key :seon.def/key]
            [:seon.def/id :seon.def/id]
            [:seon.def/agent :seon.def/agent]
            [:seon.schema.admission/source
             :seon.schema.admission/source]
            [:seon.def/ns :seon.def/ns]
            [:seon.def/name :seon.def/name]
            [:seon.def/value-edn
             {:optional true}
             :seon.def/value-edn]
            [:seon.def/blob
             {:optional true}
             :seon.def/blob]
            [:seon.def/size
             {:optional true}
             :seon.def/size]
            [:seon.def/unrestorable-reason
             {:optional true}
             :seon.def/unrestorable-reason]
            [:seon.def/atom?
             {:optional true}
             :seon.def/atom?]
            [:seon.def/ordinal :seon.def/ordinal]],
           :id [:string {:min 1}],
           :key [:string {:min 1, :seon.db/identity true}],
           :name :symbol,
           :ns :seon.db/ref,
           :ordinal [:int {:min 0}],
           :rows [:vector :seon.def/def],
           :size [:int {:min 0}],
           :unrestorable-reason [:string {:min 1}],
           :value-edn :string}
