{
 ; Additive error declaration manifest, 2026-09-18.

 :seon.instrument.humanized.message/entity
 [:map
 {:seon.db/attributes true}
 [:seon.instrument.humanized.message/ordinal
  :seon.instrument.humanized.message/ordinal]
 [:seon.instrument.humanized.message/location
  :seon.instrument.humanized.message/location]
 [:seon.instrument.humanized.message/text
  :seon.instrument.humanized.message/text]]

 :seon.instrument.humanized.message/location
 [:and
 {:seon.db/component true,
  :seon.db/component-schema :seon.error.location/entity}
 :seon.db/ref]

 :seon.instrument.humanized.message/ordinal
 [:int {:min 0}]

 :seon.instrument.humanized.message/text
 :string
}
