#:seon.config.operator{:event-silence-backstop-ms
                       [:int {:seon.config/display-label "Event silence backstop" :seon.config/display-divisor 1000 :seon.config/display-unit "s" :min 1, :seon.config/dial true}]
                       :boot-bound-ms
                       [:int {:seon.config/display-label "Cold boot bound" :seon.config/display-divisor 1000 :seon.config/display-unit "s" :min 1 :seon.config/dial true}]}
