{:seon.render.hiccup/tag :string
 :seon.render.hiccup/unparseable-tag :seon.render.hiccup/tag
 :seon.render.hiccup/unparseable-tag-error [:and {:seon.db/attributes true :seon.render/ai seon.error/render-ai :seon.render/html seon.error/render-html} :seon.error/base [:map [:seon.render.hiccup/unparseable-tag :seon.render.hiccup/unparseable-tag]]]}
