#:seon.cluster.instruction{:id [:keyword #:seon.db{:identity true}],
                           :instruction
                           [:map
                            {:seon.db/attributes true,
                             :seon.render/ai
                             seon.cluster.instruction/instruction-ai,
                             :seon.render/html
                             seon.cluster.instruction/instruction-html}
                            [:seon.cluster.instruction/id
                             :seon.cluster.instruction/id]
                            [:seon.cluster.instruction/text
                             :seon.cluster.instruction/text]],
                           :seed-rows
                           [:vector
                            :seon.cluster.instruction/instruction],
                           :text
                           [:string {:min 1, :seon.search/index :text}]}
