#:seon.ai.usage{:cached-tokens [:and {:seon.wake/context-inert true} :seon.ai/tokens],
                :completion-tokens [:and {:seon.wake/context-inert true} :seon.ai/tokens],
                :prompt-tokens [:and {:seon.wake/context-inert true} :seon.ai/tokens],
                :total-tokens [:and {:seon.wake/context-inert true} :seon.ai/tokens]}
