{:seon.fn.manifest/roots :seon.fn/roots
 :seon.fn.manifest/digest :seon.source/digest
 :seon.fn.manifest/artifacts [:vector :seon.fn.file/artifact]
 :seon.fn.manifest/identities [:vector :seon.program/identity]
 :seon.fn.manifest/manifest
 [:map
  [:seon.fn.manifest/roots :seon.fn.manifest/roots]
  [:seon.fn.manifest/digest :seon.fn.manifest/digest]
  [:seon.fn.manifest/artifacts :seon.fn.manifest/artifacts]
  [:seon.fn.manifest/identities :seon.fn.manifest/identities]]}
