#:seon.bootstrap.plan{:digest [:re "^[0-9a-f]{64}$"],
                      :forms
                      [:set #:seon.db{:component true} :seon.db/ref],
                      :id [:keyword #:seon.db{:identity true}],
                      :plan
                      [:map
                       {:seon.db/entity true
                        :seon.render/ai seon.bootstrap/render-ai
                        :seon.render/html seon.bootstrap/render-html}
                       [:seon.bootstrap.plan/id
                        :seon.bootstrap.plan/id]
                       [:seon.bootstrap.plan/digest
                        :seon.bootstrap.plan/digest]
                       [:seon.bootstrap.plan/forms
                        :seon.bootstrap.plan/forms]]}
