#:seon.render.profile{:id :qualified-keyword,
                      :token-budget [:int {:min 1}],
                      :max-depth [:int {:min 0}],
                      :max-children [:int {:min 0}],
                      :composition
                      [:enum :single-line :multiline :tabular],
                      :profile
                      [:map
                       [:seon.render.profile/id
                        :seon.render.profile/id]
                       [:seon.render.profile/token-budget
                        :seon.render.profile/token-budget]
                       [:seon.render.profile/max-depth
                        :seon.render.profile/max-depth]
                       [:seon.render.profile/max-children
                        :seon.render.profile/max-children]
                       [:seon.render.profile/composition
                        :seon.render.profile/composition]]}
