#:seon.render.data{:cursor
                   [:map
                    [:seon.render.data/path :seon.render.data/path]
                    [:seon.render.data/offset
                     :seon.render.data/offset]],
                   :offset [:int {:min 0}],
                   :path [:vector :any],
                   :window
                   [:map
                    [:seon.render.data/entries
                     [:vector [:tuple :any :any]]]
                    [:seon.render.data/offset :seon.render.data/offset]
                    [:seon.render.data/total [:int {:min 0}]]
                    [:seon.render.data/next-offset
                     {:optional true}
                     :seon.render.data/offset]
                    [:seon.render.data/previous-offset
                     {:optional true}
                     :seon.render.data/offset]]}
