{
:seon.cluster.registry/branch-request [:map  [:seon.store/store :seon.store/store] [:seon.cluster.registry/from :seon.cluster.registry/from] [:seon.store/branch :seon.store/branch]]
 :seon.cluster.registry/branch-commit-request [:map  [:seon.store/store :seon.store/store] [:seon.store/branch :seon.store/branch]]
 :seon.cluster.registry/branch-result [:map  [:seon.store/branch :seon.store/branch] [:seon.cluster/created? :seon.cluster/created?]]
 :seon.cluster.registry/cluster-request [:map  [:seon.store/store :seon.store/store] [:seon.boot/cluster-name :seon.boot/cluster-name] [:seon.source/commit-id :seon.source/commit-id]]
 :seon.cluster.registry/from [:or :keyword :uuid]
 :seon.cluster.registry/retire-request [:map  [:seon.store/store :seon.store/store] [:seon.store/branch :seon.store/branch]]
 :seon.cluster.registry/roster [:set :keyword]
 :seon.cluster.registry/swept [:int {:min 0}]
 :seon.cluster/created? :boolean
}
