#:seon.context.contribution{:contribution
                            [:map
                             #:seon.db{:attributes true :seon.program/partition :seon.data}
                             [:seon.context.contribution/id
                              :seon.context.contribution/id]
                             [:seon.context.contribution/position
                              :seon.context.contribution/position]
                             [:seon.render.block/name
                              {:optional true}
                              :seon.render.block/name]
                             [:seon.context.contribution/hash
                              {:optional true}
                              :seon.context.contribution/hash]
                             [:seon.context.contribution/tokens
                              {:optional true}
                              :seon.context.contribution/tokens]
                             [:seon.context.contribution/agent
                              {:optional true}
                              :seon.context.contribution/agent]
                             [:seon.context.contribution/evaluations
                              {:optional true}
                              :seon.context.contribution/evaluations]
                             [:seon.context.contribution/error
                              {:optional true}
                              :seon.context.contribution/error]],
                            :agent :seon.db/ref,
                            :evaluations [:set :seon.db/ref],
                            :error [:string {:min 1}],
                            :hash [:string {:min 1}],
                            :id
                            [:string {:min 1, :seon.db/identity true}],
                            :position [:int {:min 0}],
                            :tokens [:int {:min 0}]}
