#:seon.db{:attributes :boolean,
          :component :boolean,
          :entity :boolean,
          :identity :boolean,
          :index :boolean,
          :no-history? :boolean,
          :unique :boolean,
          :connection
          [:fn
           {:error/message
            "must be a live unreleased Datahike connection from the calling cluster"
            :gen/gen seon.db/connection-generator}
           seon.db/connection?],
          :database-value
          [:fn
           {:error/message "must be an immutable Datahike database value"
            :gen/gen seon.db/database-value-generator}
           seon.db/database-value?],
          :datom
          [:map
           [:e :seon.schema/value]
           [:a :seon.schema/value]
           [:v :seon.schema/value]
           [:tx :int]
           [:added :boolean]],
          :datoms [:vector :seon.db/datom],
          :entity-id
          [:or :int [:sequential :seon.schema/value] :keyword],
          :index-lookup
          [:map
           [:index [:enum :eavt :aevt :avet]]
           [:components
            {:optional true}
            [:or :nil [:sequential :seon.schema/value]]]],
          :process [:and #:seon.db{:index true} :seon.db/ref],
          :pull-many-options
          [:map
           [:selector :seon.db/pull-selector]
           [:eids [:sequential :seon.db/entity-id]]
           [:max-work {:optional true} [:int {:min 1}]]
           [:max-results {:optional true} [:int {:min 1}]]
           [:max-result-weight {:optional true} [:int {:min 1}]]],
          :pull-options
          [:map
           [:selector :seon.db/pull-selector]
           [:eid :seon.db/entity-id]
           [:max-work {:optional true} [:int {:min 1}]]
           [:max-results {:optional true} [:int {:min 1}]]
           [:max-result-weight {:optional true} [:int {:min 1}]]],
          :pull-selector [:vector :seon.schema/value],
          :query [:or [:vector :seon.schema/value] :map :string],
          :query-args
          [:map
           [:query :seon.db/query]
           [:args {:optional true} [:sequential :seon.schema/value]]
           [:request-id {:optional true} :string]
           [:limit {:optional true} :int]
           [:offset {:optional true} :int]
           [:max-work {:optional true} [:int {:min 1}]]
           [:max-results {:optional true} [:int {:min 1}]]
           [:max-result-weight {:optional true} [:int {:min 1}]]],
          :time-point [:or :inst :int],
          :tx-data :seon.store/transaction-data,
          :user [:and #:seon.db{:index true} :seon.db/ref]}
