#:seon.effect{:capability :qualified-symbol,
              :form-ordinal [:int {:min 0}],
              :id [:string {:min 1, :seon.db/identity true}],
              :interrupted-at :inst,
              :open-request :seon.effect/receipt,
              :opened-at :inst,
              :ordinal [:int {:min 0}],
              :owner :seon.db/ref,
              :receipt
              [:map
               #:seon.db{:entity true}
               [:seon.effect/id :seon.effect/id]
               [:seon.effect/run :seon.effect/run]
               [:seon.effect/owner :seon.effect/owner]
               [:seon.effect/form-ordinal :seon.effect/form-ordinal]
               [:seon.effect/ordinal :seon.effect/ordinal]
               [:seon.effect/request-edn :seon.effect/request-edn]
               [:seon.effect/opened-at :seon.effect/opened-at]
               [:seon.effect/result-edn
                {:optional true}
                :seon.effect/result-edn]
               [:seon.effect/settled-at
                {:optional true}
                :seon.effect/settled-at]
               [:seon.effect/interrupted-at
                {:optional true}
                :seon.effect/interrupted-at]],
              :request-context
              [:map
               [:seon.store/branch-connection
                :seon.store/branch-connection]
               [:seon.cluster.run/id :seon.cluster.run/id]
               [:seon.cluster.run.form/ordinal
                :seon.cluster.run.form/ordinal]
               [:seon.boot/cluster-name :seon.boot/cluster-name]
               [:seon.sci.admit/caps :seon.sci.admit/caps]
               [:seon.config/on-core-error
                :seon.config/on-core-error]],
              :request-edn [:string #:seon.db{:no-history? true}],
              :result-edn [:string #:seon.db{:no-history? true}],
              :run [:and #:seon.db{:index true} :seon.db/ref],
              :settle-request
              [:map
               [:seon.effect/id :seon.effect/id]
               [:seon.effect/result-edn :seon.effect/result-edn]
               [:seon.effect/settled-at :seon.effect/settled-at]],
              :settled-at :inst}
