#:seon.activation{:lookup-attribute :qualified-keyword,
                  :lookup-value :seon.db/lookup-ref-value,
                  :missing [:vector [:map
                                     [:seon.activation/lookup-attribute :qualified-keyword]
                                     [:seon.activation/lookup-value :seon.db/lookup-ref-value]]]}
