#:seon.fn{:arglists :string,
          :arities [:vector #:seon.db{:component true} :seon.db/ref],
          :ast [:and #:seon.db{:component true} :seon.db/ref],
          :calls [:set :seon.db/ref],
          :doc :string,
          :fn
          [:map
           #:seon.db{:entity true}
           [:seon.fn/sym :seon.fn/sym]
           [:seon.schema.admission/source
            :seon.schema.admission/source]
           [:seon.fn/ns :seon.fn/ns]
           [:seon.fn/source :seon.fn/source]
           [:seon.fn/arglists {:optional true} :seon.fn/arglists]
           [:seon.fn/doc {:optional true} :seon.fn/doc]
           [:seon.fn/private? {:optional true} :seon.fn/private?]
           [:seon.fn/spec {:optional true} :seon.fn/spec]
           [:seon.fn/calls {:optional true} :seon.fn/calls]
           [:seon.fn/arities {:optional true} :seon.fn/arities]
           [:seon.fn/ast {:optional true} :seon.fn/ast]
           [:seon.fn/workload {:optional true} :seon.fn/workload]
           [:seon.effect/capability
            {:optional true}
            :seon.effect/capability]],
          :index-request
          [:map
           [:seon.store/branch-connection
            {:optional true}
            :seon.store/branch-connection]
           [:seon.db/process {:optional true} :seon.db/ref]
           [:seon.fn/roots {:optional true} :seon.fn/roots]
           [:seon.fn/manifest {:optional true} :map]],
          :ns :seon.db/ref,
          :private? :boolean,
          :roots [:vector [:string {:min 1}]],
          :source [:string {:min 1}],
          :spec :string,
          :sym [:string {:min 1, :seon.db/identity true}],
          :workload [:enum :io :compute]}
