#:seon.operator.state{:process-termination-error
                      [:and
                       #:seon.db{:attributes false}
                       :seon.error/base
                       [:map [:seon.boot/pid :seon.boot/pid]]],
                      :deadline-undeclared-error
                      [:and
                       #:seon.db{:attributes false}
                       :seon.error/base
                       [:map
                        [:seon.operator.subprocess/deadline-member
                         :seon.operator.subprocess/deadline-member]]],
                      :progress-undeclared-error
                      [:and
                       #:seon.db{:attributes false}
                       :seon.error/base
                       [:map
                        [:seon.operator.subprocess/progress-member
                         :seon.operator.subprocess/progress-member]]],
                      :missing-bound-error
                      [:and
                       #:seon.db{:attributes false}
                       :seon.error/base
                       [:map
                        [:seon.operator/missing-bound
                         :seon.operator/missing-bound]]],
                      :deadline-exceeded-error
                      [:and
                       #:seon.db{:attributes false}
                       :seon.error/base
                       [:map
                        [:seon.operator.subprocess/argv
                         :seon.operator.subprocess/argv]
                        [:seon.operator.subprocess/deadline-ms
                         :seon.operator.subprocess/deadline-ms]
                        [:seon.operator.subprocess/phase
                         :seon.operator.subprocess/phase]]]}
