#:seon.config.flow{:ping-timeout-ms
                   [:int {:seon.config/display-label "Ping timeout" :seon.config/display-divisor 1000 :seon.config/display-unit "s" :min 1, :seon.config/dial true}]}
