{:seon.render.unknown/reason :seon.render/unknown-reason
 ; Additive error declaration manifest, 2026-09-18.

 :seon.render.unknown/call-projection
 [:and
 {:seon.db/component true,
  :seon.db/component-schema :seon.error.projection/entity}
 :seon.db/ref]

 :seon.render.unknown/output
 :seon.render/output

 :seon.render.unknown/producer
 [:qualified-symbol {:seon.db/index true}]

 :seon.render.unknown/refusal-projection
 [:and
 {:seon.db/component true,
  :seon.db/component-schema :seon.error.projection/entity}
 :seon.db/ref]

 :seon.render.unknown/throwable
 :string
}
