#:seon.cluster{:cluster
               [:map
                {:seon.db/entity true
                 :seon.render/ai seon.cluster/render-ai
                 :seon.render/html seon.cluster/render-html}
                [:seon.cluster/name :seon.cluster/name]
                [:seon.cluster/config :seon.cluster/config]
                [:seon.cluster/instructions :seon.cluster/instructions]
                [:seon.cluster/toolkit :seon.cluster/toolkit]],
               :config :seon.db/ref,
               :created? :boolean,
               :instructions [:set :seon.db/ref],
               :name [:string {:min 1, :seon.db/identity true}],
               :toolkit [:set :seon.db/ref],
               :toolkit-namespaces [:vector :seon.ns/name]}
