{:seon.test.check/request
 [:map
  [:seon.db/connection :seon.db/connection]
  [:seon.boot/cluster-name :seon.boot/cluster-name]
  [:seon.test/sym {:optional true} :seon.test/sym]
  [:seon.test/check-time-limit-ms {:optional true} :seon.test/check-time-limit-ms]]
 :seon.test.check/text :string
 :seon.test.check/passed? :boolean
 :seon.test.check/result
 [:map
  [:seon.test/pass-count :seon.test/pass-count]
  [:seon.test/fail-count :seon.test/fail-count]
  [:seon.test/error-count :seon.test/error-count]
  [:seon.test.check/text :seon.test.check/text]
  [:seon.test.check/passed? :seon.test.check/passed?]]
 :seon.test.check/response
 [:or :seon.test.check/result :seon.error/value]}
