#:seon.source{:branch :keyword,
              :built-at :inst,
              :built? :boolean,
              :commit-id :uuid,
              :current
              [:map
               [:seon.source/branch :seon.source/branch]
               [:seon.source/commit-id :seon.source/commit-id]],
              :digest [:re #:seon.db{:index true} "^[0-9a-f]{64}$"],
              :digest-request
              [:map [:seon.source/roots :seon.source/roots]],
              :expected-commit-id :uuid,
              :file-digests [:map-of :string :seon.source/digest],
              :populate :qualified-symbol,
              :population
              [:map
               [:seon.store/branch-connection
                :seon.store/branch-connection]
               [:seon.source/digest :seon.source/digest]],
              :population-data :map,
              :publish-request
              [:map
               [:seon.store/store :seon.store/store]
               [:seon.source/digest :seon.source/digest]
               [:seon.source/populate :seon.source/populate]
               [:seon.source/population-data
                {:optional true}
                :seon.source/population-data]],
              :published
              [:map
               [:seon.source/branch :seon.source/branch]
               [:seon.source/commit-id :seon.source/commit-id]
               [:seon.source/digest :seon.source/digest]
               [:seon.source/built? :seon.source/built?]],
              :roots [:vector [:string {:min 1}]],
              :rows [:vector :map],
              :snapshot
              [:map
               [:seon.source/digest :seon.source/digest]
               [:seon.source/file-digests :seon.source/file-digests]],
              :upsert-request
              [:map
               [:seon.store/store :seon.store/store]
               [:seon.source/expected-commit-id
                :seon.source/expected-commit-id]
               [:seon.source/digest :seon.source/digest]
               [:seon.source/rows :seon.source/rows]
               [:seon.db/process {:optional true} :seon.db/ref]]}
