[submodule "reference-code/xtdb"]
	path = reference-code/xtdb
	url = https://github.com/xtdb/xtdb.git
[submodule "reference-code/malli"]
	path = reference-code/malli
	url = https://github.com/metosin/malli.git
[submodule "reference-code/gemini-mcp"]
	path = reference-code/gemini-mcp
	url = https://github.com/RLabs-Inc/gemini-mcp.git
[submodule "reference-code/clj-kondo"]
	path = reference-code/clj-kondo
	url = https://github.com/clj-kondo/clj-kondo.git
[submodule "reference-code/splint"]
	path = reference-code/splint
	url = https://github.com/NoahTheDuke/splint.git
[submodule "reference-code/nrepl"]
	path = reference-code/nrepl
	url = https://github.com/nrepl/nrepl.git
[submodule "/Users/sean/src/seon/reference-code/clj-reload"]
	path = /Users/sean/src/seon/reference-code/clj-reload
	url = https://github.com/tonsky/clj-reload.git
