#:seon.test{:fail-count 0, :pass-count 7, :run-at #inst "2026-09-15T22:55:45.687-00:00", :run #:db{:id 64759}, :run-basis-t 536872018, :error-count 0, :sym "seon.sci.eval-test/evaluation-projection-prefers-the-live-context"}
#:seon.test{:fail-count 0, :pass-count 4, :run-at #inst "2026-09-15T22:55:47.461-00:00", :run #:db{:id 64760}, :run-basis-t 536872019, :error-count 0, :sym "seon.sci.eval-test/acquired-source-context-forks-have-branch-custody-and-private-defs"}
#:seon.test{:fail-count 0, :pass-count 5, :run-at #inst "2026-09-15T22:55:52.983-00:00", :run #:db{:id 64761}, :run-basis-t 536872020, :error-count 0, :sym "seon.sci.eval-test/declared-row-evaluates-a-schema-once-inside-its-delta"}
#:seon.test{:fail-count 0, :pass-count 3, :run-at #inst "2026-09-15T22:55:54.815-00:00", :run #:db{:id 64762}, :run-basis-t 536872021, :error-count 0, :sym "seon.sci.eval-test/runtime-function-rows-carry-parsed-contract-facts"}
#:seon.test{:fail-count 0, :pass-count 4, :run-at #inst "2026-09-15T22:55:56.637-00:00", :run #:db{:id 64763}, :run-basis-t 536872022, :error-count 0, :sym "seon.sci.eval-test/static-and-runtime-contracted-definitions-publish-identical-facts"}
#:seon.test{:fail-count 0, :pass-count 1, :run-at #inst "2026-09-15T22:56:05.889-00:00", :run #:db{:id 64764}, :run-basis-t 536872023, :error-count 0, :sym "seon.sci.eval-test/success-evaluation-assembles-every-optional-projection"}
#:seon.test{:fail-count 0, :pass-count 1, :run-at #inst "2026-09-15T22:56:07.681-00:00", :run #:db{:id 64765}, :run-basis-t 536872024, :error-count 0, :sym "seon.sci.eval-test/failed-evaluation-assembles-failure-presence-facts"}
#:seon.test{:fail-count 0, :pass-count 4, :run-at #inst "2026-09-15T22:56:09.464-00:00", :run #:db{:id 64766}, :run-basis-t 536872025, :error-count 0, :sym "seon.sci.eval-test/contracted-defn-renders-the-var-it-declared"}
