#:seon.test{:fail-count 0, :pass-count 3, :run-at #inst "2026-09-15T22:46:08.195-00:00", :run #:db{:id 64685}, :run-basis-t 536871948, :error-count 0, :sym "seon.test-reaching-test/run-carries-the-connections-projection-to-the-test-thread"}