{:cold-ms 283.779208, :characters 14164, :samples [{:historical-ms 27.979208, :direct-ms 24.612959, :same-text? true} {:historical-ms 24.888875, :direct-ms 23.83275, :same-text? true} {:historical-ms 24.591459, :direct-ms 22.920458, :same-text? true} {:historical-ms 21.403792, :direct-ms 21.985167, :same-text? true} {:historical-ms 21.850542, :direct-ms 21.567209, :same-text? true} {:historical-ms 21.407, :direct-ms 20.044209, :same-text? true} {:historical-ms 24.477667, :direct-ms 18.504208, :same-text? true} {:historical-ms 17.749084, :direct-ms 17.478542, :same-text? true} {:historical-ms 17.479875, :direct-ms 17.576542, :same-text? true} {:historical-ms 17.539, :direct-ms 17.609709, :same-text? true} {:historical-ms 17.54825, :direct-ms 17.640875, :same-text? true} {:historical-ms 17.740833, :direct-ms 17.9165, :same-text? true}]}