[#:seon.cluster.run{:id "source:47b055d9-158d-4e1c-a326-963013f6f0c8"} {:seon.error/kind :seon.cluster.run/refused, :seon.cluster.run/transition seon.cluster.run/open-call, :seon.cluster.run/rule :seon.cluster.run/agent-already-running, :seon.cluster.run/request #:seon.cluster.run{:id "source:917492a4-0865-4a1c-ac66-ec9a815167e4", :agent [:seon.cluster.agent/id "root"], :opened-at #inst "2026-09-09T04:51:25.771-00:00"}, :seon.cluster.run/refused :seon.cluster.run/agent-already-running, :seon.error/message "run transition refused: agent-already-running"}]