{:cold-ms 429.214459, :characters 44124, :samples [{:historical-ms 30.745375, :direct-ms 27.418166, :same-text? true} {:historical-ms 27.280083, :direct-ms 27.912917, :same-text? true} {:historical-ms 26.319625, :direct-ms 26.34075, :same-text? true} {:historical-ms 27.866584, :direct-ms 26.668583, :same-text? true} {:historical-ms 25.932458, :direct-ms 26.622625, :same-text? true} {:historical-ms 26.956375, :direct-ms 29.042375, :same-text? true} {:historical-ms 27.521333, :direct-ms 27.107416, :same-text? true} {:historical-ms 26.654042, :direct-ms 25.651333, :same-text? true} {:historical-ms 25.569041, :direct-ms 26.061959, :same-text? true} {:historical-ms 26.02675, :direct-ms 27.126541, :same-text? true} {:historical-ms 25.522916, :direct-ms 27.141625, :same-text? true} {:historical-ms 28.086583, :direct-ms 27.891708, :same-text? true}]}