{:cold-ms 331.908041, :characters 45760, :samples [{:historical-ms 48.381792, :direct-ms 47.600458, :same-text? true} {:historical-ms 30.644417, :direct-ms 29.418667, :same-text? true} {:historical-ms 28.988625, :direct-ms 28.306417, :same-text? true} {:historical-ms 33.6605, :direct-ms 33.054875, :same-text? true} {:historical-ms 31.688916, :direct-ms 30.616542, :same-text? true} {:historical-ms 29.941125, :direct-ms 29.410791, :same-text? true} {:historical-ms 30.043292, :direct-ms 35.168208, :same-text? true} {:historical-ms 36.890542, :direct-ms 37.764666, :same-text? true} {:historical-ms 35.234375, :direct-ms 34.86275, :same-text? true} {:historical-ms 31.766417, :direct-ms 32.623416, :same-text? true} {:historical-ms 32.383542, :direct-ms 33.92325, :same-text? true} {:historical-ms 30.419667, :direct-ms 29.415959, :same-text? true}]}