{
:fork-adopted #:kaocha.result{:count 1, :pass 17, :error 0, :fail 0, :pending 0}
:seon-with-only #:seon.test{:failing-assertions ["d30c4006d431ae2cb3395c640fe1c1c99dfab8339642521f0482325fe3c21618" "daa8dffc082ebead46476e2e84f5bc0e1baef92620aec8a792331acce907afdc"], :fail-count 2, :pass-count 4, :run-at #inst "2026-09-16T03:58:42.504-00:00", :reach-digest "bd08462b4dff74e41f19888e93ac265de247dcd27ad0b9f9d1ab368e15b7527d", :failure-message "expected: (= form (:seon.test/form (clojure.core/deref observed)))\nactual: (not (= \"[:int {:seon.db/index true}]\" \"[:int #:seon.db{:index true}]\"))\n\nexpected: (not (contains? (:schema after) key))\nactual: (not (not true))", :run #:db{:id 74059}, :run-basis-t 536872085, :error-count 0, :sym "seon.datahike-fork-test/schema-deletion-reads-earlier-declarations-in-one-transaction"}
:seon-candidate #:seon.test{:fail-count 0, :pass-count 6, :run-at #inst "2026-09-16T03:59:51.440-00:00", :reach-digest "bd08462b4dff74e41f19888e93ac265de247dcd27ad0b9f9d1ab368e15b7527d", :run #:db{:id 74064}, :run-basis-t 536872088, :error-count 0, :sym "seon.datahike-fork-test/schema-deletion-reads-earlier-declarations-in-one-transaction"}
:seon-final-candidate #:seon.test{:fail-count 0, :pass-count 8, :run-at #inst "2026-09-16T04:01:45.052-00:00", :reach-digest "bd08462b4dff74e41f19888e93ac265de247dcd27ad0b9f9d1ab368e15b7527d", :run #:db{:id 74075}, :run-basis-t 536872095, :error-count 0, :sym "seon.datahike-fork-test/schema-deletion-reads-earlier-declarations-in-one-transaction"}
:adopted-schema-deletion-reads-earlier-declarations-in-one-transaction #:seon.test{:fail-count 0, :pass-count 8, :run-at #inst "2026-09-16T04:03:31.769-00:00", :reach-digest "bd08462b4dff74e41f19888e93ac265de247dcd27ad0b9f9d1ab368e15b7527d", :run #:db{:id 74080}, :run-basis-t 536872098, :error-count 0, :sym "seon.datahike-fork-test/schema-deletion-reads-earlier-declarations-in-one-transaction"}
:files-schema-deletion-reads-earlier-declarations-in-one-transaction #:seon.test{:fail-count 0, :pass-count 8, :run-at #inst "2026-09-16T04:04:41.365-00:00", :reach-digest "bd08462b4dff74e41f19888e93ac265de247dcd27ad0b9f9d1ab368e15b7527d", :run #:db{:id 74085}, :run-basis-t 536872101, :error-count 0, :sym "seon.datahike-fork-test/schema-deletion-reads-earlier-declarations-in-one-transaction"}
}
