{:seon.ancestor/branch :keyword
 :seon.ancestor/built-at :inst
 :seon.ancestor/built? :boolean
 :seon.ancestor/digest [:re {:seon.db/identity true} "^[0-9a-f]{64}$"]
 :seon.ancestor/digest-request [:map {:closed true} [:seon.ancestor/roots :seon.ancestor/roots]]
 :seon.ancestor/ensure-request [:map {:closed true} [:seon.store/store :seon.store/store] [:seon.ancestor/digest :seon.ancestor/digest] [:seon.ancestor/populate :seon.ancestor/populate]]
 :seon.ancestor/ensured [:map {:closed true} [:seon.ancestor/branch :seon.ancestor/branch] [:seon.ancestor/built? :seon.ancestor/built?]]
 :seon.ancestor/populate :qualified-symbol
 :seon.ancestor/population [:map {:closed true} [:seon.store/branch-connection :seon.store/branch-connection] [:seon.ancestor/digest :seon.ancestor/digest]]
 :seon.ancestor/roots [:vector [:string {:min 1}]]}
