#:seon.operator.collect{:candidate-files 38206, :reclaimed-bytes 5312168722, :store-id #uuid "224560ae-b0ba-3d5c-b6db-6d7415ad66e7", :mark-duration-ms 7139, :swept-objects 38206, :retained-files 2539, :branches [{:seon.store/branch :building-source-53320-1789576625367-de5f889f-be19-496d-92a2-9d6edc8dc38c, :seon.source/commit-id #uuid "6aaaf74a-737d-546d-a712-a3e6eff5382e"} {:seon.store/branch :cluster-default, :seon.source/commit-id #uuid "6aaaf749-2a01-5ca6-bde6-562fa96a1b95"} {:seon.store/branch :current-src, :seon.source/commit-id #uuid "6aaaf664-0ecd-5fae-a037-421814f727d6"} {:seon.store/branch :db, :seon.source/commit-id #uuid "6aaac541-4121-5e0a-ad44-088ffd3ce73d"}], :managed-root "/Users/sean/src/seon", :unstored-digests 141, :verification-pass-swept 3, :candidate-bytes 5312927324, :roots-verified? true, :bytes-after 315733920, :objects-after 2545, :bytes-before 5627902642, :objects-before 40719, :complete? true}