#:seon.operator.collect{:candidate-files 16770, :reclaimed-bytes 0, :store-id #uuid "224560ae-b0ba-3d5c-b6db-6d7415ad66e7", :dry-run? true, :mark-duration-ms 4790, :swept-objects 0, :retained-files 1677, :branches [{:seon.store/branch :cluster-default, :seon.source/commit-id #uuid "6aaad9c0-8db4-55d6-8e6a-50db5ce62261"} {:seon.store/branch :current-src, :seon.source/commit-id #uuid "6aaad98a-3ab8-51e0-8fc8-6e814020d063"} {:seon.store/branch :db, :seon.source/commit-id #uuid "6aaac541-4121-5e0a-ad44-088ffd3ce73d"}], :managed-root "/Users/sean/src/seon", :projected-duration-ms 88640, :verification-pass-swept 0, :candidate-bytes 2746368669, :bytes-after 2973610814, :objects-after 18447, :bytes-before 2973610814, :objects-before 18447, :complete? true}