#:seon.source{:before #:seon.source{:branch :current-src, :commit-id #uuid "6ab0520a-90f2-5e2d-a03a-407cc19ccf22"}, :after #:seon.source{:branch :current-src, :commit-id #uuid "6ab0520a-90f2-5e2d-a03a-407cc19ccf22"}, :result #:seon.source{:branch :current-src, :commit-id #uuid "6ab0520a-90f2-5e2d-a03a-407cc19ccf22", :digest "b18a530f89b1e316457f7c5561c8cef8e83e42e19cb6f39cedb35d7c79e65b79", :built? false}, :progress [#:seon.source{:completed-phase "request", :elapsed-ms 502.679958} #:seon.source{:completed-phase "unchanged seal", :elapsed-ms 13.483167}]}