{:seon.source/before #:seon.source{:branch :current-src, :commit-id #uuid "6ab07210-eb86-57de-a3b6-07248cdbd51b"}, :seon.source/after #:seon.source{:branch :current-src, :commit-id #uuid "6ab07210-eb86-57de-a3b6-07248cdbd51b"}, :seon.source/result #:seon.source{:branch :current-src, :commit-id #uuid "6ab07210-eb86-57de-a3b6-07248cdbd51b", :digest "e79bbe119acd0a5e65083216118b6194d9afdbee4b395f6703b77ea12a796c48", :built? false}, :seon.source/progress [#:seon.source{:completed-phase "request", :elapsed-ms 0.834875} #:seon.source{:completed-phase "request accepted", :elapsed-ms 1.037791} #:seon.source{:completed-phase "bootstrap configuration", :elapsed-ms 105.398917} #:seon.source{:completed-phase "store acquisition", :elapsed-ms 0.186375} #:seon.source{:completed-phase "source build", :elapsed-ms 649.060667} #:seon.source{:completed-phase "development cluster converged", :elapsed-ms 0.172166}], :seon.reconcile/adopt-identities #{}}