#:seon.source{:commit-id #uuid "6ab07dd2-fa65-5eac-9e37-6bacd32404e1", :replies [#:seon.source{:commit-id #uuid "6ab07dd2-fa65-5eac-9e37-6bacd32404e1", :built? true} #:seon.source{:commit-id #uuid "6ab07dd2-fa65-5eac-9e37-6bacd32404e1", :built? false}]}