{:seon.source/before #:seon.source{:branch :current-src, :commit-id #uuid "6ab0a6d6-fd7e-5f7d-be4f-de3b7deff597"}, :seon.source/after #:seon.source{:branch :current-src, :commit-id #uuid "6ab0a6d6-fd7e-5f7d-be4f-de3b7deff597"}, :seon.source/result #:seon.source{:branch :current-src, :commit-id #uuid "6ab0a6d6-fd7e-5f7d-be4f-de3b7deff597", :digest "b2b5e92f54140bebf182ed89619a79763356d38b774a4e7aca9cc08159c12532", :built? false}, :seon.source/progress [#:seon.source{:completed-phase "request", :elapsed-ms 0.284542} #:seon.source{:completed-phase "request accepted", :elapsed-ms 1.082708} #:seon.source{:completed-phase "bootstrap configuration", :elapsed-ms 108.363792} #:seon.source{:completed-phase "store acquisition", :elapsed-ms 0.423708} #:seon.source{:completed-phase "source build", :elapsed-ms 153.824209} #:seon.source{:completed-phase "development cluster converged", :elapsed-ms 0.140083}], :seon.reconcile/adopt-identities #{}}