#:seon.source{:before #:seon.source{:branch :current-src, :commit-id #uuid "6ab04a4b-d320-5bf6-af1c-d31214b05070"}, :after #:seon.source{:branch :current-src, :commit-id #uuid "6ab04a4b-d320-5bf6-af1c-d31214b05070"}, :result #:seon.source{:branch :current-src, :commit-id #uuid "6ab04a4b-d320-5bf6-af1c-d31214b05070", :digest "9231d8991c2846d6c7f48c2e46652b04184de43402ead093056040cc86f8b51b", :built? false}, :progress [#:seon.source{:completed-phase "request", :elapsed-ms 453.697834} #:seon.source{:completed-phase "unchanged seal", :elapsed-ms 12.652708}]}