{:seon.source/before #:seon.source{:branch :current-src, :commit-id #uuid "6ab05e62-44f6-5f1d-bfde-3360ab8f15d0"}, :seon.source/after #:seon.source{:branch :current-src, :commit-id #uuid "6ab05e62-44f6-5f1d-bfde-3360ab8f15d0"}, :seon.source/result #:seon.source{:branch :current-src, :commit-id #uuid "6ab05e62-44f6-5f1d-bfde-3360ab8f15d0", :digest "f61ca01aac40f323cd9086829f184982db439a760fd0c4643347526781560222", :built? false}, :seon.source/progress [#:seon.source{:completed-phase "request", :elapsed-ms 1.855916} #:seon.source{:completed-phase "request accepted", :elapsed-ms 4.981042} #:seon.source{:completed-phase "bootstrap configuration", :elapsed-ms 328.200833} #:seon.source{:completed-phase "store acquisition", :elapsed-ms 1.340292} #:seon.source{:completed-phase "source build", :elapsed-ms 1258.350875} #:seon.source{:completed-phase "development cluster converged", :elapsed-ms 1.452208}], :seon.reconcile/adopt-identities #{}}