#:seon.test{:fail-count 0, :pass-count 14, :run-at #inst "2026-09-15T22:15:54.826-00:00", :run #:db{:id 64327}, :run-basis-t 536871777, :error-count 0, :sym "seon.source-reconciliation-test/source-reconciliation-preserves-identities-and-unrelated-facts"}