{:paths ["src"]
 :deps {org.clojure/clojure        {:mvn/version "1.11.1"}
        io.replikativ/datahike     {:mvn/version "0.7.1624"}}

 :aliases
 {:cljs
  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.132"}
                thheller/shadow-cljs      {:mvn/version "2.28.20"}}}}}
